<html>
<head>
    <meta charset="UTF-8">
    <title>Добавление в EMPLOYEES</title>
</head>
<body>
<form action="employees_update.html">
    <h1>Добавление в EMPLOYEES</h1>
    EMPLOYEE_ID <input name="employee_id" type="text" disabled/>
    <br/>
    <br/>
    FIRST_NAME <input name="first_name" type="text"/>
    <br/>
    <br/>
    LAST_NAME <input name="last_name" type="text" required/>
    <br/>
    <br/>
    EMAIL <input name="email" type="text" required/>
    <br/>
    <br/>
    PHONE_NUMBER <input name="phone_number" type="text"/>
    <br/>
    <br/>
    HIRE_DATE <input name="hire_date" type="date" required/>
    <br/>
    <br/>
    JOB_ID <input name="job_id" type="text" required/>
    <br/>
    <br/>
    SALARY <input name="salary" type="text"/>
    <br/>
    <br/>
    COMMISSION_PCT <input name="commission_pct" type="text"/>
    <br/>
    <br/>
    MANAGER_ID <input name="manager_id" type="text"/>
    <br/>
    <br/>
    DEPARTMENT_ID <input name="department_id" type="text"/>
    <br/>
    <br/>
    <input type="submit" value="Добавить">
</form>
</body>
</html>