<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>EMPLOYEES</title>
</head>
<body>
<form>
    <h1>EMPLOYEES</h1>
    <a href="employees_create.html"> Добавить новый </a>
    <br/>
    <br/>
<!--    тут будет таблица из базы-->
    <table border="1" width="100%" cellpadding="5">
        <tr>
            <th>EMPLOYEE_ID</th>
            <th>FIRST_NAME</th>
            <th>LAST_NAME</th>
            <th>EMAIL</th>
            <th>PHONE_NUMBER</th>
            <th>HIRE_DATE</th>
            <th>JOB_ID</th>
            <th>SALARY</th>
            <th>COMMISSION_PCT</th>
            <th>MANAGER_ID</th>
            <th>DEPARTMENT_ID</th>
        </tr>

        <tr>
            <th>EMPLOYEE_ID</th>
            <th>FIRST_NAME</th>
            <th>LAST_NAME</th>
            <th>EMAIL</th>
            <th>PHONE_NUMBER</th>
            <th>HIRE_DATE</th>
            <th>JOB_ID</th>
            <th>SALARY</th>
            <th>COMMISSION_PCT</th>
            <th>MANAGER_ID</th>
            <th>DEPARTMENT_ID</th>
        </tr>
    </table>
</form>
</body>
</html>